/*  css = cascading style sheet
h1,h2,... sind Elementselektoren
.bereich1 ist eine Klassendefinition, darf mehrfach verwendet werden. 
#wichtigerText ist ein ID-Selektor, diese darf der seite nur EINMAL verwendet werden.
 */
body {
       background-color: #36393f;
       font-family: Arial;
       color: whitesmoke
       }

 .header {
       border: double; 
       }
